body{
    background:#b4b4b4;
    display: flex;
    font-family: 'Poppins', sans-serif;
  }

  h1.main{

    display: flex;
    justify-content: center;
    font-size: 38px;
    
  }

  div.container{
  
    width: 100%; 
    margin: 20px auto;
    background-color:#d5d5d5;
    border-radius: 3px;
    height: 600px;
    margin-left: 200px;
    margin-right: 200px;
  }
  
   h2.login_head {
    text-align: center;
    background: #364351;
    width: 100%;
    padding: 40px 0;
    margin-top: 0%;
    color: white;
    font-size:2em;
  }

  div.submit{

    text-align: center;
    background: #364351;
    width: 100%;
    border-radius: 3px 3px 0 0;
    color: white;

  }
  
  div.form1, div.form2{
    border:1px solid #2f2f2f;
    margin:10px auto;
    width:40%;
    box-sizing:border-box;
    border-radius:0 0 3px 3px;
  }

  div.form1{
     margin-left: 120px;
  }

  div.form2{
    margin-right: 120px;
  }
  
  label{

    margin-left: 120px;
  }

  div.errors{

    margin-left: 120px;
  }
  
  /* all */
  ::-webkit-input-placeholder { text-shadow:1px 1px 1px white; font-weight:bold; }
  ::-moz-placeholder { text-shadow:0 1px 1px white; font-weight:bold; } /* firefox 19+ */
  :-ms-input-placeholder { text-shadow:0 1px 1px white; font-weight:bold; } /* ie */
  
  input[type=text], input[type= password] {
    padding: 15px 20px;
    border-radius: 1px;
    margin:5px auto;
    background-color:#f7f7f7;
    border: 1px solid silver;
  
    -webkit-box-shadow: inset 0 1px 5px rgba(0,0,0,0.2);
    box-shadow: inset 0 1px 5px rgba(0,0,0,0.2), 0 1px rgba(255,255,255,.8);
    width: 50%;
    margin-left: 120px;
    margin-bottom: 30px;
  
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition:background-color .5s ease;
  -moz-transition:background-color .5s ease;
  -o-transition:background-color .5s ease;
  -ms-transition:background-color .5s ease;
  transition:background-color .5s ease;
  }
   input[type=text] {
    padding: 10px 20px;
  }
  
   input[type=text], input[type=password]:active, input[type=text]:focus {
    outline: none;
    border-color: silver;
    background-color:white;
  }
  
   input[type=submit] {
    font-family:'Open Sans Condensed', sans-serif;
    text-transform:uppercase;
    outline:none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    width: 40%;
    background-color: #5C8CA7;
    padding: 10px;
    color: white;
    border: 1px solid #3498db;
    border-radius: 3px;
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    position:relative;
    top:0;
  }
  
  input[type=submit]:hover {
    background-color: #2980b9;
  }
  input[type=submit]:active {
  background:#5C8CA7;
  }